<div class="container">
    <ul id="WS-LiSli" class="grid">
        {{#each images}}
            <li>
                <img src={{imageURL}} class="card-img-top" alt="...">
                <span>
                <h2 class="image-title">{{title}}</h2>
                </span>
            </li>
        {{/each}}
    </ul>
</div>

